<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Usuario - ChromaWear</title>
    <link rel="stylesheet" href="/static/style.css">    
</head>

{% with mensajes = get_flashed_messages(with_categories=true) %}
    {% if mensajes %}
        <div class="flash-container">
            {% for categoria, mensaje in mensajes %}
                <div class="flash {{ categoria }}">
                    {{ mensaje }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}



<h1>Editar categoria</h1>
<form method="POST">
    <label>Nombre:</label><br>
    <input type="text" name="nombre" value="{{ categoria['nombre'] }}"><br><br>

   
    <button type="submit">Guardar Cambios</button>
</form>

<br>
<a href="/admin/categorias">Volver al panel</a>