<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Usuario - ChromaWear</title>
    <link rel="stylesheet" href="/static/style.css">    
</head>

{% with mensajes = get_flashed_messages(with_categories=true) %}
    {% if mensajes %}
        <div class="flash-container">
            {% for categoria, mensaje in mensajes %}
                <div class="flash {{ categoria }}">
                    {{ mensaje }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<h1>Editar Usuario</h1>
<form method="POST">
    <label>Nombre:</label><br>
    <input type="text" name="nombre" value="{{ usuario['nombre'] }}"><br><br>

    <label>Correo:</label><br>
    <input type="email" name="correo" value="{{ usuario['correo'] }}"><br><br>

    <label>Rol:</label><br>
    <select name="rol">
        <option value="user" {% if usuario[3]=='user' %}selected{% endif %}>Usuario</option>
        <option value="admin" {% if usuario[3]=='admin' %}selected{% endif %}>Administrar</option>
    </select><br><br>

    <button type="submit">Guardar Cambios</button>
</form>

<br>
<a href="/admin/categorias">Volver al panel</a>
